.carousel-item {
    height: 300px;
    width: 600px
  }

  .modal-header, .modal-footer {
    background-color: #f7f7f7;
  }
  
  .modal-body {
    border-top: thin ridged #f7f7f7;
    border-bottom: thin ridged #f7f7f7;
  }
  
  .form-group {
    padding: 10px
  }

  .homecard {
    background-color: #f7f7f7
  }
  
  .modal-dialog {
    border: solid #0275d8;
    border-width: thin;
  }